<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- start form  -->
    <form action="" method="post" class="login-form">
     <span>
        <a href="/login">login</a>
        <a href="/register">register</a>
    </span>

      <input type="email" name="email" id="email" placeholder="name@email.com">
      <input type="password" name="password" id="password" placeholder="password">
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword">
      <input type="submit" value="Register">
      
    </form>
    <!-- end form  -->
</body>
</html>