<!-- Nav Bar  -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img width="175px" class="navbar-brand-logo" src="https://react-course-comfy-sloth-store.netlify.app/static/media/logo.221f6b13.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <a class="navbar-toggler-icon" href=""></a>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Products</a>
          </li>
        </ul>
        
        <a class="a me-4 right" href="">
          <div class="d-flex cart-query">
            <div><h4 class="bold cart logo-name">Cart</h4></div>
            <div><h4 class="llogo"><i class="bi bi-cart-dash-fill ms-2"></i></h4></div>
          </div>
        </a>
        <a class="a right" href="/login">
          <div class="d-flex login-query">
            <div><h4 class="bold login logo-name">Login</h4></div>
            <div><h4 class="logo"><i class="bi bi-person-plus-fill ms-2"></i></h4></div>
          </div>
        </a>
        <!-- -->
      </div>
    </div>
  </nav>
  <!-- End Nav Bar -->


  