<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>
<%- include('../includes/bar.ejs') -%>
      <!-- our story -->
      <div class="container story-div">
        <div class="row">
            <div class="col-md-6">
                <div class="side-img"></div>
            </div>
            <div class="col-md-6">
                <div>
                    <h1 class="hoab" style="color: #102a42;">Our Story</h1>
                    <div class="under-line"></div>
                    <p class="mt-4" style="color: #617d98;line-height: 30px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat accusantium sapiente tempora sed dolore esse deserunt eaque excepturi, delectus error accusamus vel eligendi, omnis beatae. Quisquam, dicta. Eos quod quisquam esse recusandae vitae neque dolore, obcaecati incidunt sequi blanditiis est exercitationem molestiae delectus saepe odio eligendi modi porro eaque in libero minus unde sapiente consectetur architecto. Ullam rerum, nemo iste ex, eaque perspiciatis nisi, eum totam velit saepe sed quos similique amet. Ex, voluptate accusamus nesciunt totam vitae esse iste.</p>
                </div>
            </div>
        </div>
      </div>
      <!-- end of our story -->
      
      <%- include('../includes/footer.ejs') -%>
      

     
