
<%- include('../includes/head.ejs') -%>
<%- include('../includes/navigation.ejs') -%>


      <!-- Image and Photo -->
      <div class="container">
        <div class="d-flex">
          <!-- first col -->
          <div class="col1">

            <!-- upper image -->
            <div class="owl-carousel owl-theme">
              <div class="item upper-image im1 mt-2"></div>
              <div class="item upper-image im2 mt-2"></div>
              <div class="item upper-image im3 mt-2"></div>
              <div class="item upper-image im4 mt-2"></div>
          </div>
            <!-- end of upper image -->

            <h1 class="comfort-title">Design Your <br>Comfort Zone</h1>
            <p class="comfort-letter mb-5 me-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, at sed omnis corporis doloremque possimus velit! Repudiandae nisi odit, aperiam odio ducimus, obcaecati libero et quia tempora excepturi quis alias?</p>
            <a href="" class="my-btn mt-2">SHOP NOW</a>
          </div>
          <!-- end of first col -->
  
  
          <div class="col2 d-flex">
              <div class="right-home-1">
                <img class=" p1" src="images/f49e3615bc73972e438cb9defa190e23.jpg" alt="">
                <p align="right" class="mt-3">
                  <img class=" p2" src="images/Woody-Creek-Slideshow.jpg" alt="">
                </p>
                <img class=" p3" src="images/Home-Tours-A-Japanese-Inspired-Woody-Home-in-Tampines-3.jpg" alt="">
              </div>
              <div class="right-home-2 mr-auto"></div>
          </div>
        </div>
      </div>
      <!-- end of Image and Photo --> 

      <div>
        <!-- featured product -->
        <div class="container">
          <h1 data-aos="zoom-in" class="feature pt-5">Featured Product</h1>
          <div data-aos="zoom-in" class="mx-auto ft-uld mb-4"></div>
        <!-- end of featured product -->
        <!-- with same div -->
        <!-- three images -->
          <div class="row">
            <div class="col-md-4">
              <div class="thr-img thr-img1">
                <div class="thr-img thr-ho1">
                  <div>
                    <p class="thr-search" align="center" style="padding-top: 25%;">
                      <a href=""><i class="bi bi-search search1"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-2" style="justify-content: space-between">
                <div><p style="letter-spacing: 1px;">Entertainment Center</p></div>
                <div><p style="color: #AB7B60;">$599.99</p></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thr-img thr-img2">
                <div class="thr-img thr-ho2">
                  <div>
                    <p class="thr-search" align="center" style="padding-top: 25%;">
                      <a href=""><i class="bi bi-search search2"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-2" style="justify-content: space-between">
                <div><p style="letter-spacing: 1px;">Entertainment Center</p></div>
                <div><p style="color: #AB7B60;">$599.99</p></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thr-img thr-img3">
                <div class="thr-img thr-ho3">
                  <div>
                    <p class="thr-search" align="center" style="padding-top: 25%;">
                      <a href=""><i class="bi bi-search search3"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-2" style="justify-content: space-between">
                <div><p style="letter-spacing: 1px;">Entertainment Center</p></div>
                <div><p style="color: #AB7B60;">$599.99</p></div>
              </div>
            </div>
          </div>
          <p align="center" class="mt-4 pb-5"><a href="" class="my-btn mt-2">ALL PRODUCTS</a></p>
        </div>
        <!-- end of three images -->
      </div>

      <div class="custom-div pb-5">
        <div class="container">
          <div class="row pt-5 pb-5">
            <div class="col-md-6">
              <h3 class="custom">Custom Furniture<br> Built Only For You</h3>
            </div>
            <div class="col-md-6">
              <p style="color: #795744;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorum debitis consectetur reprehenderit non aliquam voluptates dolore aut vero consequuntur.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="my-card" data-aos="fade-up"
              data-aos-duration="1000">
                <p class="pt-5" align="center">
                  <span class="my-icon-span">
                    <i class="bi bi-boxes my-icon"></i>
                  </span>
                </p>
                <h4 align="center" class="custom">Mission</h4>
                <p align="center" style="color: #795744;" class="pb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ea. Perferendis corrupti reiciendis nesciunt rerum velit autem unde numquam nisi</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-card" data-aos="fade-up"
              data-aos-duration="1400">
                <p class="pt-5" align="center">
                  <span class="my-icon-span">
                    <i class="bi bi-earbuds my-icon"></i>
                  </span>
                </p>
                <h4 align="center" class="custom">Mission</h4>
                <p align="center" style="color: #795744;" class="pb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ea. Perferendis corrupti reiciendis nesciunt rerum velit autem unde numquam nisi</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-card" data-aos="fade-up"
              data-aos-duration="1800">
                <p class="pt-5" align="center">
                  <span class="my-icon-span">
                    <i class="bi bi-arrow-through-heart-fill my-icon"></i>
                  </span>
                </p>
                <h4 align="center" class="custom">Mission</h4>
                <p align="center" style="color: #795744;" class="pb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ea. Perferendis corrupti reiciendis nesciunt rerum velit autem unde numquam nisi</p>
              </div>
            </div>
          </div>
        </div>
      </div>

<%- include('../includes/footer.ejs') -%>
     